.demo {
  height: 200px;
  width: 200px;
  background-color: grey;
  display: inline-block;
  margin: 10px; }

.red {
  background-color: red; }

.green {
  background-color: green; }

.blue {
  background-color: blue; }
